In [5]:
import pandas as pd

<b>idées:</b>
 - Ajouter column jour de la semaine pour connaître le jour de la semaine en enlevant l'heure.
 - Ajouter le jour du mois.... ( voir la plage de date des envoies de mail).
 - Ajouter column horaire pour connaître l'horaire indépendamment du jour.
 - Ajouter la longueur du contenu.
 - Regarder le tout premier mail envoyé et le tout dernier.
 - Regarder qui sont ceux qui ont envoyé le plus de mail.
 - Regarder qui sont ceux qui on reçu le plus de mail.
 - regarder la longueur des contenus. (indépendamment de toute column, en fonction des users, dates, horaires, (et categorie?)).
 - analyser cc.

<b> Choses à faire: </b>
   - Convertir toutes data (1 column) ---> (n column).
   - Catégorie: éliminer celles ou 100% des rows sont nulles pour la column.
   - Catégorie: (pas 100% nulle): regarder le nombre et afficher les valeurs.
   - Ajouter une column longueur du contenu.

In [6]:
data = pd.read_csv('../data.csv',dtype={'To':'string', 'Subject':'string', 'X-From':'string',
       'X-To':'string', 'X-cc':'string', 'X-bcc':'string', 'X-Folder':'string', 'X-Origin':'string', 'X-FileName':'string',
       'content':'string', 'user':'string', 'Cat_1_level_1':'string', 'Cat_1_level_2':'string', 'Cat_1_weight':'string',
       'Cat_2_level_1':'string', 'Cat_2_level_2':'string', 'Cat_2_weight':'string', 'Cat_3_level_1':'string',
       'Cat_3_level_2':'string', 'Cat_3_weight':'string', 'Cat_4_level_1':'string', 'Cat_4_level_2':'string',
       'Cat_4_weight':'string', 'Cat_5_level_1':'string', 'Cat_5_level_2':'string', 'Cat_5_weight':'string',
       'Cat_6_level_1':'string', 'Cat_6_level_2':'string', 'Cat_6_weight':'string', 'Cat_7_level_1':'string',
       'Cat_7_level_2':'string', 'Cat_7_weight':'string', 'Cat_8_level_1':'string', 'Cat_8_level_2':'string',
       'Cat_8_weight':'string', 'Cat_9_level_1':'string', 'Cat_9_level_2':'string', 'Cat_9_weight':'string',
       'Cat_10_level_1':'string', 'Cat_10_level_2':'string', 'Cat_10_weight':'string', 'Cat_11_level_1':'string',
       'Cat_11_level_2':'string', 'Cat_11_weight':'string', 'Cat_12_level_1':'string', 'Cat_12_level_2':'string',
       'Cat_12_weight':'string'})

In [6]:
data.head()

,Unnamed: 0,Message-ID,Date,From,To,Subject,X-From,X-To,X-cc,X-bcc,...,Cat_10_level_1,Cat_10_level_2,Cat_10_weight,Cat_11_level_1,Cat_11_level_2,Cat_11_weight,Cat_12_level_1,Cat_12_level_2,Cat_12_weight,labeled
0,0,<18782981.1075855378110.JavaMail.evans@thyme>,2001-05-14 23:39:00,frozenset({'phillip.allen@enron.com'}),frozenset({'tim.belden@enron.com'}),<NA>,Phillip K Allen,Tim Belden <Tim Belden/Enron@EnronXGate>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False
1,1,<15464986.1075855378456.JavaMail.evans@thyme>,2001-05-04 20:51:00,frozenset({'phillip.allen@enron.com'}),frozenset({'john.lavorato@enron.com'}),Re:,Phillip K Allen,John J Lavorato <John J Lavorato/ENRON@enronXg...,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False
2,2,<24216240.1075855687451.JavaMail.evans@thyme>,2000-10-18 10:00:00,frozenset({'phillip.allen@enron.com'}),frozenset({'leah.arsdall@enron.com'}),Re: test,Phillip K Allen,Leah Van Arsdall,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False
3,3,<13505866.1075863688222.JavaMail.evans@thyme>,2000-10-23 13:13:00,frozenset({'phillip.allen@enron.com'}),frozenset({'randall.gay@enron.com'}),<NA>,Phillip K Allen,Randall L Gay,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False
4,4,<30922949.1075863688243.JavaMail.evans@thyme>,2000-08-31 12:07:00,frozenset({'phillip.allen@enron.com'}),frozenset({'greg.piper@enron.com'}),Re: Hello,Phillip K Allen,Greg Piper,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False

<br>
<b>Check for null values</b>

In [7]:
data.isnull().sum()

Unnamed: 0             0
Message-ID             0
Date                   0
From                   0
To                  5001
Subject             5364
X-From                 6
X-To                2600
X-cc               78253
X-bcc              99966
X-Folder               6
X-Origin               6
X-FileName           729
content              402
user                   0
Cat_1_level_1      99790
Cat_1_level_2      99790
Cat_1_weight       99790
Cat_2_level_1      99800
Cat_2_level_2      99800
Cat_2_weight       99800
Cat_3_level_1      99834
Cat_3_level_2      99834
Cat_3_weight       99834
Cat_4_level_1      99896
Cat_4_level_2      99896
Cat_4_weight       99896
Cat_5_level_1      99943
Cat_5_level_2      99943
Cat_5_weight       99943
Cat_6_level_1      99979
Cat_6_level_2      99979
Cat_6_weight       99979
Cat_7_level_1      99990
Cat_7_level_2      99990
Cat_7_weight       99990
Cat_8_level_1      99998
Cat_8_level_2      99998
Cat_8_weight       99998
Cat_9_level_1      99999
Cat_9_level_2      99999
Cat_9_weight       99999
Cat_10_level_1     99999
Cat_10_level_2     99999
Cat_10_weight      99999
Cat_11_level_1    100000
Cat_11_level_2    100000
Cat_11_weight     100000
Cat_12_level_1    100000
Cat_12_level_2    100000
Cat_12_weight     100000
labeled                0
dtype: int64

<b> Ok, Il y a beaucoup de valeurs manquantes:</b>
   - Cat_12_weight, Cat_12_level_2, Cat_11_weight, Cat_11_level_2, Cat_11_level_1 ont toutes les valeurs nulles : on peut donc les enlever.

In [8]:
data = data.drop(['Cat_12_weight','Cat_12_level_1', 'Cat_12_level_2', 'Cat_11_weight', 'Cat_11_level_2', 'Cat_11_level_1'], axis=1)

<br>
<b>On va regarder les valeurs différentes possibles en fonction des variables.</b>

In [47]:
def look_values(df, column):
    return('{}: {}'.format(column, len(df[column].unique())))

In [10]:
columns = ['Date', 'From', 'To', 'Subject', 'X-From',
       'X-To', 'X-cc', 'X-bcc', 'X-Folder', 'X-Origin', 'X-FileName',
        'user', 'Cat_1_level_1', 'Cat_1_level_2', 'Cat_1_weight',
       'Cat_2_level_1', 'Cat_2_level_2', 'Cat_2_weight', 'Cat_3_level_1',
       'Cat_3_level_2', 'Cat_3_weight', 'Cat_4_level_1', 'Cat_4_level_2',
       'Cat_4_weight', 'Cat_5_level_1', 'Cat_5_level_2', 'Cat_5_weight',
       'Cat_6_level_1', 'Cat_6_level_2', 'Cat_6_weight', 'Cat_7_level_1',
       'Cat_7_level_2', 'Cat_7_weight', 'Cat_8_level_1', 'Cat_8_level_2',
       'Cat_8_weight', 'Cat_9_level_1', 'Cat_9_level_2', 'Cat_9_weight',
       'Cat_10_level_1', 'Cat_10_level_2', 'Cat_10_weight', 'labeled']
for column in columns:
    print(look_values(data,column))

Date: 52029
From: 5537
To: 15648
Subject: 38400
X-From: 7217
X-To: 19733
X-cc: 7837
X-bcc: 30
X-Folder: 1153
X-Origin: 56
X-FileName: 93
user: 30
Cat_1_level_1: 2
Cat_1_level_2: 9
Cat_1_weight: 3
Cat_2_level_1: 5
Cat_2_level_2: 14
Cat_2_weight: 4
Cat_3_level_1: 4
Cat_3_level_2: 15
Cat_3_weight: 3
Cat_4_level_1: 4
Cat_4_level_2: 14
Cat_4_weight: 3
Cat_5_level_1: 4
Cat_5_level_2: 15
Cat_5_weight: 3
Cat_6_level_1: 4
Cat_6_level_2: 10
Cat_6_weight: 3
Cat_7_level_1: 3
Cat_7_level_2: 8
Cat_7_weight: 3
Cat_8_level_1: 3
Cat_8_level_2: 3
Cat_8_weight: 2
Cat_9_level_1: 2
Cat_9_level_2: 2
Cat_9_weight: 2
Cat_10_level_1: 2
Cat_10_level_2: 2
Cat_10_weight: 2
labeled: 2

<br>
<h4> I - Temporalité</h4>

In [11]:
data['Years'] = data['Date'].apply(lambda x:  x.split('-' )[0])

In [12]:
data['Month'] = data['Date'].apply(lambda x:  x.split('-' )[1])

In [13]:
data['Day'] = data['Date'].apply(lambda x:  (x.split('-' )[2]).split(' ')[0])

In [14]:
data['Hours'] = data['Date'].apply(lambda x:  ((x.split('-' )[2]).split(' ')[1]).split(':')[0])

In [15]:
data['Hours']

0        23
1        20
2        10
3        13
4        12
         ..
99995    08
99996    07
99997    07
99998    06
99999    16
Name: Hours, Length: 100000, dtype: object

In [17]:
data.isnull().sum()

Unnamed: 0            0
Message-ID            0
Date                  0
From                  0
To                 5001
Subject            5364
X-From                6
X-To               2600
X-cc              78253
X-bcc             99966
X-Folder              6
X-Origin              6
X-FileName          729
content             402
user                  0
Cat_1_level_1     99790
Cat_1_level_2     99790
Cat_1_weight      99790
Cat_2_level_1     99800
Cat_2_level_2     99800
Cat_2_weight      99800
Cat_3_level_1     99834
Cat_3_level_2     99834
Cat_3_weight      99834
Cat_4_level_1     99896
Cat_4_level_2     99896
Cat_4_weight      99896
Cat_5_level_1     99943
Cat_5_level_2     99943
Cat_5_weight      99943
Cat_6_level_1     99979
Cat_6_level_2     99979
Cat_6_weight      99979
Cat_7_level_1     99990
Cat_7_level_2     99990
Cat_7_weight      99990
Cat_8_level_1     99998
Cat_8_level_2     99998
Cat_8_weight      99998
Cat_9_level_1     99999
Cat_9_level_2     99999
Cat_9_weight      99999
Cat_10_level_1    99999
Cat_10_level_2    99999
Cat_10_weight     99999
labeled               0
Years                 0
Month                 0
Day                   0
Hours                 0
dtype: int64

In [ ]:
def look_values_possible(column):
    return(column.unique())

In [79]:
for i in range(15, 45):
    data.iloc[:, i] = data.iloc[:, i].apply(lambda x: -1 if (type(x) != type('str')) else x)
print(look_values_possible(data['Cat_10_weight']))